.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust the gap between images as needed */
    padding: 20px;
}

.image-container img {
    border: 5px solid rgb(188, 219, 241); /* Blend the border with the white background */
    border-radius: 15px; /* Optional: Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.navbar-item .btn {
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .nav-link {
        font-size: 0.9rem;
    }

    .navbar-end {
        margin-left: auto;
    }
}

.cursive-text {
    font-family: 'cursive', sans-serif;
}

.overflow-auto {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
    
}

.card {
    display: inline-block;
    width: 18rem;
    border-radius: 15px;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}
.card-text {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}