{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


{% block heading %}
    <h1>Vacation :-)</h1>
{% endblock heading %}


{% block content %}
<h4> {{ title }} </h4>
<form action="" method="post">
    {% csrf_token %}
    <div class="form-group col-md-4">
    {{ form | crispy }}
    </div>
    <input type='submit' value='Vacation' class="btn btn-info" role="button">
    <input type="submit" onclick="window.location='{% url "datHen:listHen" %}'; return false; " value="No Vacation" class="btn btn-primary" role="button">
</form>  
{% endblock content %}
